<div class="flex flex-col flex-shrink-0 py-3 px-3 bg-gray-800 text-white h-screen">
  <!-- ãƒ­ã‚´éƒ¨åˆ† -->
  <div class="flex items-center justify-center py-2">
    <%= link_to "AMS", root_path, class: "text-white text-4xl font-bold no-underline" %>
  </div>
  <hr class="border-gray-600 my-4" />
  <!-- ãƒŠãƒ“ã‚²ãƒ¼ã‚·ãƒ§ãƒ³ãƒ¡ãƒ‹ãƒ¥ãƒ¼ -->
  <ul class="flex flex-col space-y-2">
    <li>
      <%= sidebar_link_to(cats_path, "ðŸ±", "ã­ã“", class: "flex items-center px-4 py-2 rounded hover:bg-gray-700 hover:text-white") %>
    </li>
    <li>
      <%= sidebar_link_to(dogs_path, "ðŸ¶", "ã„ã¬", class: "flex items-center px-4 py-2 rounded hover:bg-gray-700 hover:text-white") %>
    </li>
    <li>
      <%= sidebar_link_to(chicks_path, "ðŸ£", "ã²ã‚ˆã“", class: "flex items-center px-4 py-2 rounded hover:bg-gray-700 hover:text-white") %>
    </li>
    <li>
      <%= sidebar_link_to(hedgehogs_path, "ðŸ¦”", "ãƒãƒªãƒã‚ºãƒŸ", class: "flex items-center px-4 py-2 rounded hover:bg-gray-700 hover:text-white") %>
    </li>
    <li>
      <%= sidebar_link_to(owls_path, "ðŸ¦‰", "ãƒ•ã‚¯ãƒ­ã‚¦", class: "flex items-center px-4 py-2 rounded hover:bg-gray-700 hover:text-white") %>
    </li>
  </ul>
</div>
